input.ng-touched.ng-invalid {
    border:solid red 2px;
}

input.ng-touched.ng-valid {
    border:solid green 2px;
}

.form-wrapper{
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
}

.element-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'name-item value-item' 'errors-block errors-block';
    margin: 5px auto;
}

.element-wrapper label{
    grid-area: name-item;
}

.element-wrapper input{
    grid-area: value-item;
}

.alert-danger{
    grid-area: errors-block;
    text-align: center;
    color: red;
}